%staff-table {
  &.staff {
    margin-bottom: 20px;
    mat-table {
      mat-header-row,
      mat-row {
        mat-header-cell,
        mat-cell {
          // fullName Column
          &:nth-child(1) {
            @include fullNameCol;
          }
          // phoneNumber Column
          &:nth-child(2) {
            @include phoneNumberCol;
          }
          // types Column
          &:nth-child(3) {
            @include flexEllipsisCol;
            max-width: 160px;
            padding-right: 16px;
          }
          // status Column
          &:nth-child(5) {
            @include statusCol;
          }
          // action Column
          &:nth-child(6) {
            @include actionCol;
            width: 40px;
          }
        }
      }
      mat-row {
        mat-cell {
          // institutions Column
          &:nth-child(4) {
            @include verticalCol;
          }
        }
      }
    }
  }
}
