<div class="privacy-wrapper" [ngClass]="{ active: isOpen }">
  <div [@topSlide] class="privacy-title" *ngIf="isOpen">
    <div class="back-button" (click)="closePrivacy.emit(false)">Back</div>
  </div>
  <div class="privacy-content" [@contentSlide] *ngIf="isOpen">
    <h1>Privacy Policy</h1>
    <p>
      Thank you for visiting this website, an online travel education service
      presented to you by Beeducation Adventures Sdn. Bhd. (Company No:
      1160905-A) (“BeED”, “we" or "us").
    </p>
    <p>
      We have updated the privacy policy applicable to our online and mobile
      website, applications, and services and clarified data collection, usage
      and sharing practices among BeED, its affiliates and unaffiliated third
      parties.
    </p>
    <p>Please take the time to read the full privacy policy.</p>
    <p>
      You consent to the data collection, use, disclosure and storage practices
      described in this privacy policy when you provide the information to us by
      whatever means and/or cause or authorize the information to be provided to
      us and/or use any of our Services, including when you access, use,
      contribute or upload any content, pictures or videos to our website
      https://www.beed.world/ or our mobile application and other online
      products and services ("Site"), or when you otherwise interact with us by
      any means, including during offline transactions at BeED’s offices, over
      the telephone or via a third party e.g. our Users, vendors or service
      providers.
    </p>
    <p>
      This privacy policy ("Privacy Policy") explains our practices in respect
      of such information and the choices you can make about the way your
      information is collected and used by us.
    </p>
    <p>
      This Privacy Policy is applicable to all visitors, suppliers and users of
      our Website, mobile applications and all our services, including without
      limitation Account Users, members, purchasers of Learning content and
      Experiences, Users, Subscribers, Free-User Accounts, Content Contributors,
      suppliers of services, including without limitation for Travel bookings,
      Travel Concierge Services, Accommodation and hotel bookings, excursions,
      activities, transportation services, car rental, Visa applications and
      other related, or ancillary acts and services.
    </p>
    <p>
      You will be asked to consent to the terms of this Privacy Policy when
      accessing BeED‘s website, registering as a member or user on the Site,
      registering for any services or programmes or otherwise corresponding with
      us via the Site or otherwise where required under applicable laws.
      Otherwise your continued use of the Site will constitute your deemed
      consent to the terms of this Privacy Policy.
    </p>
    <p>
      In respect of personal data of third parties that you provide to us, you
      warrant that you have obtained their and where applicable their
      parents’/guardians’ consent in accordance with all applicable laws, rules
      and regulations, allowing us to process their personal data in accordance
      with this Policy and you have extended a copy of this Notice to them.
    </p>
    <div class="subsection">
      <div class="head">
        <h2>1. TYPES OF PERSONAL DATA WE COLLECT</h2>
      </div>
      <div class="subhead">
        <h4>
          1.1 Information you provide to us: we collect personal data (including
          where applicable sensitive personal data) you provide directly to us
          and/or via our suppliers or business associates and affiliates. This
          includes:
        </h4>
        <ul>
          <li>
            Your and/or family’s full name, National Registration Identity Card
            (NRIC) number (or the equivalent in any other country
            outsideMalaysia), passport and visa information, nationality,
            gender;
          </li>
          <li>
            Your and/or family’s contact information, including address, email
            address and telephone number;
          </li>
          <li>
            Financial information such as credit or debit card information,
            including the name of cardholder, card number, card issuing bank,
            card issuing country, card expiry date and banking account details,
            mobile payment and other payment details;
          </li>
          <li>
            Your membership information, account details, profile or password
            details and profile photo;
          </li>
          <li>
            Any information necessary to fulfill special requests based on the
            use of our services (for example, for travel and accommodation
            arrangements, and related particular preferences);
          </li>
          <li>
            Your reviews, feedback and opinions about our programs and services;
          </li>
          <li>
            Videos, audio files or pictures of your trip you upload to the Site;
          </li>
          <li>And any other personal data you choose to provide to us.</li>
        </ul>
      </div>
      <div class="subhead">
        <h4>
          1.2 Information We Collect Automatically When You Use the Site and/or
          our Services: when you access or use the Site or our Services, we
          automatically collect personal data about you, including:
        </h4>
        <ul>
          <li>
            Information collected through our services, including photos and
            videos of you from excursions and travels, as well as when you
            register online for any of our services;
          </li>
          <li>
            Information collected when you voluntarily complete a customer
            survey or provide feedback, or when you email us;
          </li>
          <li>
            Information collected when you view or use our website via your
            browser’s cookies;
          </li>
          <li>
            Information obtained from third parties through lawful sources
            including but not limited to the National Registration Department of
            Malaysia;
          </li>
          <li>
            Log Information: we may collect system log information about your
            use of the Site, including the type of browser you use, access
            times, pages viewed, your IP address;
          </li>
          <li>
            Device Information: we may collect information about the computer or
            mobile device you use to access our Site, including the hardware
            model, operating system and version, unique device identifiers (such
            as, IP address, IMEI number, the address of the device's wireless
            network interface, or mobile phone number used by the device) and
            mobile network information;
          </li>
          <li>
            Location Information: we may collect information about the location
            of your device each time you access or use one of our mobile
            applications or otherwise consent to the collection of this
            information. You can turn off location services for a device at any
            time, but this may turn off some useful features;
          </li>
          <li>
            Information Collected by Cookies and Other Tracking Technologies: we
            and our service providers use various technologies to collect
            information, including cookies and web beacons. Cookies are small
            data files stored on your hard drive or in device memory that help
            us improve our Site and your experience, see which areas and
            features of our Site are popular and count visits. Web beacons are
            electronic images that may be used in our services or emails and
            help deliver cookies, count visits and understand usage and campaign
            effectiveness. For more information about cookies, and how to
            disable them, please see our
            <a (click)="scrollToElement(cookies)">Cookies Policy</a>.
          </li>
        </ul>
      </div>
      <div class="subhead">
        <h4>
          1.3 Information We Collect From Other Sources: we may also obtain
          personal data from schools affiliated with us and from our third party
          service providers.
        </h4>
        <p>
          Where you provide personal data of third parties (for example, names
          and contact details of your family members in connection with bookings
          or family memberships), you confirm that you have their consent to
          provide their personal data to us. We strongly recommend you show them
          this Privacy Policy.
        </p>
      </div>
    </div>
    <div class="subsection">
      <span #cookies></span>
      <div class="head">
        <h2>2. HOW WE USE COOKIES</h2>
      </div>
      <p>
        A cookie is a small file which asks permission to be placed on your
        computer’s hard drive. Once you agree, the file is added and the cookie
        helps analyse web traffic or lets you know when you visit a particular
        site. Cookies allow web applications to respond to you as an individual.
        The web application can tailor its operations to your needs, likes and
        dislikes by gathering and remembering information about your
        preferences.
      </p>
      <p>
        We use traffic log cookies to identify which pages are being used. This
        helps us analyse data about web page traffic and improve our website in
        order to tailor it to customer needs. We only use this information for
        statistical analysis purposes and then the data is removed from the
        system.
      </p>
      <p>
        Overall, cookies help us provide you with a better website, by enabling
        us to monitor which pages you find useful and which you do not. A cookie
        in no way gives us access to your computer or any information about you,
        other than the data you choose to share with us. We treat information
        collected by cookies and other technologies as non-personal information.
      </p>
      <p>
        You can choose to accept or decline cookies. Most web browsers
        automatically accept cookies, but you can usually modify your browser
        setting to decline cookies if you prefer. This may prevent you from
        taking full advantage of the website and certain features of our website
        will not be available once cookies are disabled.
      </p>
      <div class="subhead">
        <h4>
          We use different types of cookies. In particular, we use the following
          first party cookies:
        </h4>
        <ul>
          <li>
            Necessary cookies which allow certain fundamental features of the
            Site to work. These cookies are essential to enable you to browse
            our services and use certain features. Disabling them may prevent
            you from using certain parts of the services. Without these cookies,
            services like login, booking and paying activity cannot be provided.
            These cookies also help keep our services safe and secure;
          </li>
          <li>
            Functional cookies, which allow us to remember choices you make
            (e.g. your cookie preference), we use these cookies so that we
            recognize you on our website and remember your previously selected
            preferences. These could include what language you prefer and
            location you are in;
          </li>
          <li>Performance cookies, which monitor usage of the Site;</li>
          <li>
            And advertising cookies which record the fact that you have visited
            the Site and then which links you have accessed whilst you use the
            Site.
          </li>
        </ul>
        <p>
          We also use third party cookies - these are cookies that are set by a
          third party website or applications rather than by us. In particular,
          the Site allows cookies of third party social networks (e.g. Facebook
          and LinkedIn), and this enables a user to share content of the Site on
          social networks. These third parties may use cookies, but their use of
          cookies will not be governed by this Cookies Policy.
        </p>
      </div>
    </div>
    <div class="subsection">
      <div class="head">
        <h2>3. HOW WE USE YOUR PERSONAL DATA</h2>
      </div>
      <div class="subhead">
        <h4>
          3.1 We may use your personal data for the purposes set out below:
        </h4>
        <ul>
          <li>
            We use your Personal Information for administrative purposes e.g.
            processing, confirming, organizing, fulfilling and completing your
            transactions and requests for our services, and ancillary works in
            providing the products and/or services (whether by BeED, it’s
            related or affiliated entities, merchants, partners or third parties
            and responding to enquiries by you or made on its behalf;
          </li>
          <li>
            Fulfill contractual obligations to you, anyone involved in the
            process of organizing your travel arrangements (e.g. travel agents,
            group travel organisers, airline operators, hotels, transportation
            providers, schools and your employer) and vendors (e.g. credit card
            companies, etc);
          </li>
          <li>
            Provide you with access to the content on our Site, and respond to
            your enquiries and requests for information and services;
          </li>
          <li>
            For the purposes of accounting (billing and auditing), operating
            internal controls including determining amounts owed to or by you,
            payment to or collection of such amounts from you and from any
            person providing security for your obligations, and processing of
            financial or payment transactions;
          </li>
          <li>
            Verifying and assisting with identification of users and to
            determine appropriate services;
          </li>
          <li>
            Sending important notices such as communications about changes to
            our policies, terms and conditions, and your purchases;
          </li>
          <li>
            Monitor your use of our Site and your bookings, and conduct analysis
            of the use of our Site in order to operate, evaluate and improve our
            Site and our services, understand your preferences, display
            customised content to you on our Site which may be of interest to
            you and troubleshoot any problems;
          </li>
          <li>
            Forwarding publicity materials or other information to you from BeED
            or sending promotional emails about new products, special offers or
            other information which we think you may find interesting using the
            email address which you have provided;
          </li>
          <li>
            Meeting any legal, governmental or regulatory requirements in
            Malaysia or any other applicable jurisdiction including disclosure
            or notification requirements;
          </li>
          <li>
            Liaising with any person who is acquiring or participating in any
            contractual arrangements between BeED and you, to enable the
            transaction;
          </li>
          <li>
            And any other incidental and associated purposes in order for BeED
            to carry out its business and/or relating to any of the above.
          </li>
        </ul>
      </div>
      <div class="subhead">
        <h4>
          3.2 Data held relating to you will be kept confidential but it may be
          provided to:
        </h4>
        <ul>
          <li>
            Any person under a duty of confidentiality to BeED or to entities
            related to or affiliated to BeED;
          </li>
          <li>
            Any relevant agent, contractor, business associate or affiliate,
            agent, joint venture partner or associate or third party service
            provider, including who provides administrative, telecommunications,
            computer, payment, securities clearing, management, audit,
            insurance, professional or other services to BeED;
          </li>
          <li>
            With third-party payment processors, payment service providers, IT
            and marketing support service providers and other consultants,
            vendors and service providers who need access to such information to
            carry out work or provide services on our behalf or who help us to
            provide the Site to you;
          </li>
          <li>
            Anyone involved in the process of the organizing of your travel
            arrangements (for example, for travel and accommodation
            arrangements, and related services (e.g. travel agents, group travel
            organisers, airline operators, hotels, transportation providers,
            schools and your employer) and vendors (e.g. credit card companies,
            etc);
          </li>
          <li>
            Any banking, financial or other institution with which you have or
            propose to have dealings or for financial or payment transactions;
          </li>
          <li>
            Any person or corporation to whom BeED transfers or proposes to
            transfer its interests and/or obligations in respect of you or any
            product or service provided to you;
          </li>
          <li>
            Any nominee, trustee, co-trustee, centralised securities depository
            or registrar, custodian, insurance company, estate agent, lawyer,
            tax advisor, auditor, other professional advisor or other person who
            is involved with the provision of services or products by BeED to
            you;
          </li>
          <li>
            Any person by whom BeED is required by applicable legal,
            governmental or regulatory requirements to make disclosure;
          </li>
          <li>
            Or any other person reasonably requiring the same in order for BeED
            to carry out its business.
          </li>
        </ul>
        <div class="R2">
          We will jointly use Personal Information as well as cookies for the
          purposes as described above:
        </div>
        <ul>
          <li>
            With any law enforcement, courts, Government or regulatory bodies
            (in whatever jurisdiction), or otherwise in response to a request
            for information if we believe disclosure is in accordance with, or
            required by, any applicable law, regulation, court order or legal
            process;
          </li>
          <li>
            In connection with, or during negotiations of, any merger, sale of
            company assets, financing or acquisition of all or a portion of our
            business by another company, or any change of management;
          </li>
          <li>
            With our advisors, which includes our accountants, auditors,
            lawyers, other professional advisors and business contacts for the
            purpose of assisting us to better manage, support or develop our
            business and comply with our legal and regulatory obligations;
          </li>
          <li>With any other party at your consent or at your direction;</li>
          <li>
            And otherwise as permitted or required by applicable laws and
            regulations.
          </li>
        </ul>
        <div class="R2">
          We may also disclose aggregate or de-identified data that is not
          personally identifiable with third parties, including our commercial
          and strategic partners.
        </div>
      </div>
      <div class="subhead">
        <h4>
          3.3 Besides the parties and entities listed above, we may also share
          your data with the following entities related to or affiliated with
          BeED, for operational and administrative purposes;
        </h4>
        <div class="subhead__level-3">
          3.3.1 SchoolOS.eu OÜ (Company Reg No: 14295950)<br />3.3.2 ACD
          Development Sdn Bhd (Company Reg No: 1160879-K)
        </div>
      </div>
      <div class="subhead">
        <h4>
          3.4 We do not sell or rent any of your Personal Information on our
          Website to any other parties. We may share anonymous and/or aggregated
          information about all our users with third parties.
        </h4>
      </div>
    </div>
    <div class="subsection">
      <div class="head">
        <h2>4. DATA STORAGE</h2>
      </div>
      <p>
        BeED is located in Malaysia. However, we may transfer your Personal
        Information to service providers and or business associates and
        affiliates outside Malaysia and/or store the information on our servers
        located overseas. Such transfers may be necessary to provide the
        Services or to fulfil contractual obligations.
      </p>
      <p>
        It will also be accessed and processed by our personnel and the
        personnel of our partners, affiliates and third party service providers,
        who operate outside Malaysia.
      </p>
      <p>
        It is voluntary for you to supply your Personal Data to BeED. However,
        if you do not agree or consent to BeED processing your Personal Data for
        the purposes set out herein, please notify BeED by contacting BeED at
        <a href="mailto:account@beed.world">account@beed.world</a>.
      </p>
      <br />
      <div class="subhead">
        <h4>4.1 Marketing</h4>
        <div class="list">
          <p>
            Our Company would like to send you information about products and
            services of ours that we think you might like, via the entities
            listed above in Clause 3.3 which are related to or affiliated to
            BeED.
          </p>
          <p>
            If you have agreed to receive marketing, you may always opt out at a
            later date.
          </p>
          <p>
            You have the right at any time to stop Our Company from contacting
            you for marketing purposes or giving your data to other members of
            the Our Company Group.
          </p>
          <p>
            If you no longer wish to be contacted for marketing purposes, please
            click
            <a
              href="https://schoolos.us19.list-manage.com/unsubscribe?u=0fe4913a37ea1cae0edbf3906&amp;id=e9a8955f2a"
              target="_blank"
              >here</a
            >.
          </p>
        </div>
      </div>
      <div class="subhead">
        <h4>4.2 Retention of Personal Data</h4>
        <div class="list">
          <p>
            To the extent required by law, we take reasonable steps to destroy,
            or de-identify or redact personal data in a secure manner when we no
            longer need it for the purposes for which it was collected (as set
            out in this Privacy Policy) and retention is no longer necessary for
            legal or business purposes. In any event, we do not retain your
            personal data for longer than six (6) years, subject to local laws
            and regulations.
          </p>
        </div>
      </div>
      <div class="subhead">
        <h4>4.3 Children and Minors</h4>
        <div class="list">
          <p>Minors* under 18 years of age:</p>
          <p>
            [Note: * Age of minors for residents in Japan is under 20 years
            old].
          </p>
          <p>
            Except where required by local laws, we do not knowingly collect
            personal data from minors. If you are a minor, you may only use our
            Site and services with the permission of your parent or guardian.
          </p>
          <p>
            If you are a parent or guardian of someone under 18 years old who
            has provided us his/her Personal Information without your knowledge
            and consent, you may request that we remove such information by
            contacting us at
            <a href="mailto:account@beed.world">account@beed.world</a>.
          </p>
          <p>
            If you are in the EU, our online services are not directed towards
            children under the age of 13. If you believe we have collected
            information about a child under the age of 13, please contact us so
            that we may take appropriate steps to delete such information. If
            you are at least 13 but under the age of 16, please get the consent
            of your parent or legal guardian before giving us any personal data
            about yourself.
          </p>
        </div>
      </div>
    </div>
    <div class="subsection">
      <div class="head">
        <h2>5. SECURITY</h2>
      </div>
      <div class="subhead">
        <h4>5.1</h4>
        <div class="list">
          <p>
            We and our partners will strive to secure the storage of your
            personal Data in compliance with the minimum security measures
            prescribed the Personal Data Protection Act 2010 of Malaysia, the
            General Data Protection Regulation (EU) 2016/679, and all
            corresponding standards and regulations related thereof.
          </p>
        </div>
      </div>
      <div class="subhead">
        <h4>5.2</h4>
        <div class="list">
          <p>
            BeED is committed to ensuring that your data is secure. BeED
            maintains appropriate administrative, physical and technical
            safeguards to help protect the security, confidentiality and
            integrity of data our customers submit to us to prevent loss,
            unauthorised access, modification or disclosure. We use a
            multi-layered approach to protect that key information, constantly
            monitoring and improving our application, systems and processes to
            meet the growing demands and challenges of security.
          </p>
        </div>
      </div>
      <div class="subhead">
        <h4>5.3</h4>
        <div class="list">
          <p>
            BeED’s IT vendors generally do not have a direct relationship with
            individuals whose personal data is collected and our IT vendors do
            not collect personal information on our behalf. Our IT vendors do
            not determine how we use such data. Additionally, BeED’s contracts
            with our IT vendors generally prohibit our vendors from accessing
            customer data except under limited circumstances.
          </p>
        </div>
      </div>
    </div>
    <div class="subsection">
      <div class="head">
        <h2>6. LINKS TO OTHER WEBSITES</h2>
      </div>
      <p>
        Our website may contain links to other websites of interest. However,
        once you have used these links to leave our site, you should note that
        we do not have any control over that other website. Therefore, we cannot
        be responsible for the protection and privacy of any data which you
        provide whilst visiting such sites and such sites are not governed by
        this Privacy Policy. You should exercise caution and look at the privacy
        statement applicable to the website in question.
      </p>
    </div>
    <div class="subsection">
      <div class="head">
        <h2>7. EMAIL AND WEBSITE</h2>
      </div>
      <div class="subhead">
        <h4>7.1</h4>
        <div class="list">
          <p>
            Any Personal Data contained in the emails and “Contact Us” messages
            sent via BeED’s Website to BeED shall be used and processed in the
            manner set out in this Notice.
          </p>
        </div>
      </div>
      <div class="subhead">
        <h4>7.2</h4>
        <div class="list">
          <p>
            If you do not wish your Personal Data to be collected via cookies on
            the Website, please configure your internet browser to delete or
            deactivate cookies.
          </p>
        </div>
      </div>
      <div class="subhead">
        <h4>7.3</h4>
        <div class="list">
          <p>
            BeED’s Website may contain links to other sites and pages. BeED
            shall not be responsible for any Personal Data or information that
            you may provide to any other entity via the links.
          </p>
        </div>
      </div>
    </div>
    <div class="subsection">
      <div class="head">
        <h2>8. REQUEST FOR ACCESS AND INQUIRIES</h2>
      </div>
      <p>You are entitled to the following rights:</p>
      <p>
        The right to access - You have the right to request our Company for
        copies of your personal data. We may charge you a small fee for this
        service.
      </p>
      <p>
        The right to rectification - You have the right to request that our
        Company correct any information you believe is inaccurate. You also have
        the right to request our Company to complete information you believe is
        incomplete.
      </p>
      <p>
        The right to erasure - You have the right to request that our Company
        erase your personal data, under certain conditions.
      </p>
      <p>
        The right to restrict processing - You have the right to request that
        our Company restrict the processing of your personal data, under certain
        conditions.
      </p>
      <p>
        The right to object to processing - You have the right to object to our
        Company’s processing of your personal data, under certain conditions.
      </p>
      <p>
        The right to data portability - You have the right to request that our
        Company transfer your data that we have collected to another
        organization, or directly to you, under certain conditions.
      </p>
      <p>
        If you make a request, we may take up to one month to respond to you.
        You may also withdraw your consent to receiving direct marketing
        communications, or more generally to our processing of your personal
        data, at any time, and you may in certain circumstances ask us to delete
        your personal data. However, where such data is needed for the services
        requested, our ability to provide the Services may be compromised if you
        entirely withdraw your consent or ask us to delete your personal data
        entirely.
      </p>
      <div class="subhead">
        <h4>8.1</h4>
        <div class="list">
          <p>
            You may at any time exercise any of these rights, or if you have any
            questions or complaints about how we handle your personal data,
            forward the complaints, request for access to, or request for
            rectification or correction of your Personal Data or limit the
            processing of your Personal Data by BeED, as the case may be,
            however subject to the exceptions and restrictions as may be
            contained under the applicable laws, rules and regulations. If you
            wish to do so, please contact:
          </p>
          <p>
            The Data Protection Officer at
            <a href="mailto:account@beed.world">account@beed.world</a>, or by
            writing to:
          </p>
          <p>
            “The Data Protection Officer at Beeducation Adventures Sdn. Bhd.,
            Lot 7.08A & 7.08B, One Tech Park, Tanjung Bandar Utama, Bandar
            Utama, 47800 Petaling Jaya, Selangor, Malaysia”.
          </p>
        </div>
      </div>
      <div class="subhead">
        <h4>8.2</h4>
        <div class="list">
          <p>
            Please note that BeED has the right to refuse your request to access
            and/or make any correction to your Personal Data, but only to the
            extent permitted under the applicable laws, rules and regulations.
            To help BeED to better serve you, please ensure that your personal
            data such as contact details including your home and office
            addresses, your telephone numbers (including your mobile telephone
            number), email address and other details registered with us are
            correct and up to date.
          </p>
        </div>
      </div>
    </div>
    <div class="subsection">
      <div class="head">
        <h2>9. CHANGES TO PRIVACY POLICY</h2>
      </div>
      <div class="subhead">
        <h4>9.1</h4>
        <div class="list">
          <p>
            BeED reserves the right to amend or modify this Notice from time to
            time.
          </p>
        </div>
      </div>
      <div class="subhead">
        <h4>9.2</h4>
        <div class="list">
          <p>
            Changes may be made from time to time to this Privacy Policy. BeED
            will post notice of material changes on our website. Please revisit
            this Privacy Policy from time to time to learn of any such changes.
          </p>
        </div>
      </div>
      <div class="R8">Updated effective from 16.08.2019.</div>
    </div>
  </div>
</div>
