<h1>Parents</h1>
<div class="table parents">
  <div class="table_header">
    <h2>All parents</h2>
    <button
      id="create_parent"
      class="create_button"
      style="margin-left: auto;"
      mat-button
      (click)="openModal('create', null)"
    >
      Create parent
    </button>
    <button
      id="import_parent"
      class="create_button"
      mat-button
      (click)="importModal()"
    >
      Import parents
    </button>
  </div>
  <div [ngClass]="{ empty_message: true, hidden: hasData | async }">
    <span> The list is empty, create a parent. </span>
  </div>

  <div [ngClass]="{ table_search: true, hidden: !(hasData | async) }">
    <search-input
      [searchString]="searchString"
      [placeholder]="'Enter phone number, first or last name'"
      (searchEvent)="applyFilter($event)"
    ></search-input>
    <div class="filter_box">
      <span>Filter by class:</span>
      <mat-form-field>
        <mat-select
          disableOptionCentering
          [(value)]="selectedClassId"
          (selectionChange)="applyFilter()"
        >
          <mat-option *ngFor="let class of filterBox" [value]="class.classId">
            {{ class.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div
    [ngClass]="{
      table_spinner: true,
      hidden: !(hasData | async),
      loading: dataSource.loading$ | async
    }"
  >
    <mat-spinner diameter="50" strokeWidth="3"></mat-spinner>
  </div>

  <mat-table
    [class.hidden]="!(hasData | async)"
    [dataSource]="dataSource"
    matSort
    matSortDisableClear
    matSortActive="fullName"
    matSortDirection="asc"
  >
    <!-- fullName Column -->
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear
        >Full name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span
          >{{ element.name }} {{ element.middleName }}
          {{ element.lastName }}</span
        >
        <app-popup [data]="element"></app-popup>
      </mat-cell>
    </ng-container>

    <!-- phoneNumber Column -->
    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef> Phone number </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.msisdn }} </mat-cell>
    </ng-container>

    <!-- learners Column -->
    <ng-container matColumnDef="learners">
      <mat-header-cell *matHeaderCellDef> Learners </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngFor="let item of element.students">
          {{ item.name }} {{ item.lastName }}
        </span>
      </mat-cell>
    </ng-container>

    <!-- Class Column -->
    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.class }}
        <span *ngFor="let item of element.students">
          {{ getClassNameById(item.educationalClass.id) }}
        </span>
      </mat-cell>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <i
          matTooltipClass="types_tooltip"
          [matTooltip]="getActiveStatus(element)"
          [ngClass]="getActiveStatusIcon(element)"
        ></i>
      </mat-cell>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          (click)="openModal('addLearners', element)"
        >
          <i class="child-icon"></i>
        </button>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
          <i class="more-icon"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button
            id="edit_parent_profile"
            mat-menu-item
            (click)="openModal('edit', element)"
          >
            <span>Edit profile</span>
          </button>
          <button
            id="change_parent_role"
            mat-menu-item
            (click)="changeTheRoles('roles', element, $event)"
          >
            <span>Change the role</span>
          </button>
          <button
            id="deactivate_parent"
            mat-menu-item
            (click)="userActivation(element.id, element.active)"
          >
            <span>{{ element.active ? 'Deactivate' : 'Activate' }}</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [class.hidden]="!(hasData | async)"
    showFirstLastButtons
    [length]="dataSource.parentsCount$ | async"
    [pageSizeOptions]="[10, 20, 50, 100]"
    itemsPerPageLabel="'Show'"
  ></mat-paginator>
</div>
