{
    "parser":  "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions":  {
        "ecmaVersion":  2018,
        "sourceType": "module"
    },
    "rules": {
        "@typescript-eslint/camelcase": 0,
        "quotes": ["warn", "single"],
        "@typescript-eslint/no-var-requires": "warn",
        "@typescript-eslint/interface-name-prefix": 0
    }
}
