search-input {
  display: flex;
  .filter_input {
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    width: 410px;
    margin-right: 16px;
    overflow: hidden;
    i {
      position: absolute;
      font-size: 14px;
      color: #999;
      &.search-icon {
        left: 8px;
      }
      &.cancel-icon {
        right: 8px;
        z-index: 1;
        cursor: pointer;
        transition: all $cubic 0.3s;
        &:hover {
          color: #666;
        }
      }
    }
    label {
      position: absolute;
      color: $gray;
      font-size: 14px;
      left: 33px;
    }
    input {
      flex: 1;
      border: none;
      outline: none;
      padding: 9px 30px 9px 32px;
      z-index: 1;
      background: transparent;
      border-radius: 4px;
      border: 1px solid $light_gray;
      transition: all $cubic 0.3s;

      &:not(:focus):not(:active):hover {
        border-color: $blue;
      }
      &:active,
      &:focus {
        border-color: #999;
      }
    }
  }
  .search_button {
    margin-right: auto;
  }
}
